*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  font-family: 'SchoolBook', serif;
  background: #FFFEFE;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.services {
  margin: 0 auto;
  padding: 0 15px;
  max-inline-size: 1382px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}

.services__link {
  text-decoration: none;
}

.service {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 220px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
  outline: 1px solid #fff;
  color: #59443F;
  transition: all 0.3s ease-out;
}

.service:hover {
  outline: 1px solid #C3B9B5;
  transform: scale(1.04);
}

.service__title {
  grid-column: 1 / 3;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.33;
  letter-spacing: 2px;
}

.service__quantity {
  align-self: flex-end;
  font-family: 'Futura New', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.service__image {
  position: absolute;
  right: 24px;
  bottom: 24px;
  justify-self: flex-end;
  align-self: flex-end;
  color: #FFC59E;
  font-size: 110px;
  transition: all 0.3s ease-out;
}

.service:hover .service__image {
  color: #59443F;
  transform: scale(1.1);
}
/*  < Стили последней страницы с контактами и футером >  */
.contacts{
  max-width: 1920px;
  margin: auto;
  padding: 232px 212px 170px 230px;
  display: flex;
  justify-content: space-between;
}
.address{
  color: #59443F;
  font-family: 'Futura New', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  font-style: normal;
}
.lots{
  color: #080606;
  font-family: 'SchoolBook',serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  letter-spacing: 3px;
  margin-bottom: 73px;
}
.contact_title{
  color: #080606;
  font-family: 'SchoolBook', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  white-space: nowrap;
}
.contact_info{
  display: flex;
  align-items: flex-start;
  gap: 19px;
  
}
.address_icon{
  display: block;
  max-width: 46px;
  margin-top: 22px;
  
}
.address_info{
  margin-top: 21px;
}
.contact_icon{
  display: block;
  max-width: 46px;
  margin-top: 13px;
}
.contact_number{
  text-decoration: none;
  margin-top: 22px;
}
.clock_icon{
  display: block;
  max-width: 46px;
  margin-top: 13px;
}
.work_hours{
  margin-top: 25px;
  margin-bottom: 47px;
}
.contacts_map{
  margin-top: 115px;
}
.footer{
  background-color: #59443F;
  width: 1920px;
  height: 469px;
  display: flex;
  padding: 78px 234px 60px 230px;
  margin: auto;
  position: relative;
}

.about_logo{
width: 90px;
height: 90px;
margin-right: 22px;
}
.about_title{
  color: #FFF;
  font-family: 'SchoolBook';
  font-size: 50px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 3px;
  text-align: left;
  margin-top: 5px;

  
  
}
.about_text_one{
color: #FFF;
font-family: 'Futura New', serif;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
margin-top: 10px;
margin-bottom: 37px;

}
.about_text{
  color: #FFF;
  text-decoration: none;
  font-family: 'Futura New', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 50px;
}
.footer_menu{
display: flex;
align-items: center;
}
.footer_links-list{
  color: #FFF;
  font-family: 'Futura New', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 62px;
  margin-top: 115px;
 
}
.footer_links-list-item_no-bullit{
}
.footer_link_active{
  text-decoration: none;
}
.footer_links-list-item{

}
.footer_link{
  text-decoration: none;
}
.footer_menu_two{
  margin-top: 5px;
  margin-left: 77px;
}
.footer__social-link{
  display: flex;
  
}
.appstore_icon{
position: absolute;
width: 140px;
right: 405px;
top: 90px;
}
.googleplay_icon{
  width: 158px;
  position: absolute;
  right: 235px;
  top: 80px;
}